<section class="show-window">
  <header class="blogheader">
    <span class="blogtitle"><i class="fa fa-inbox"></i>PostBox</span>
    <button class="new-post">New Post</button>
    <span class="bloguser">{{username}}</span>
  </header>
  <section class="show-content">
    <div class="showbox">
      <li class="post">
        <img src="{{picture}}" class="post-picture" height="100px" width="200px">
        <h2 class="show-title">{{title}}</h2>
        <span class="show-date">{{created_at}}</span>
        <p class="showcontent">{{content}}</p>
        <a href="#/blog/edit/{{_id}}"><button class="edit-current-post">Edit this Post</button></a>
        <a href="#/blog"><button class="show-go-back">Go Back</button></a>
      </li>
    </div>
  </section>
</section>
